@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Kdam Thmor Pro;
    }
}

@layer components {
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
    .product-card {
        width: 16rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    .product-img {
        width: 16rem;
        height: 18rem;
    }
    .text {
        font-size: 1.125rem;
    }
    .cart-btn {
        background-color: orange;
        width: 6rem;
        cursor: pointer;
        font-size: 1.125rem;
    }
    .cart-btn:hover {
        color: white;
    }
    .card-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .center {
        display: flex;
        justify-content: center;
    }
    .login-modal {
        position: absolute;
        margin-top: 5%;
        margin-left: 37%;
        margin-bottom: 10;
        width: 26%;
        height: 60%;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .register-modal {
        position: absolute;
        margin-top: 5%;
        margin-left: 37%;
        margin-bottom: 10%;
        width: 26%;
        height: 70%;
        overflow-y: scroll;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .checkout-modal {
        position: absolute;
        margin-top: 3%;
        margin-left: 30%;
        margin-bottom: 5%;
        width: 40%;
        height: 86%;
        overflow-y: scroll;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .invalid {
        color: red;
        font-size: .75rem;
    }
    .modal-title {
        font-size: 1.5rem;
        color: orange;
    }
    .login-input {
        width: 18rem;
        border-width: 2px;
    }
    .login-input:hover {
        border-width: 2px;
        border-color: #29b6f6;
    }
    .checkout-label {
        width: 18rem;
        margin-top: 0.25rem;
    }
    .checkout-input {
        border-width: 2px;
        margin-bottom: 0.25rem;
        width: 10rem;
    }
    .checkout-input:hover {
        border-width: 2px;
        border-color: #29b6f6;
    }
    .checkout-input-lg {
        border-width: 2px;
        margin-bottom: 0.25px;
        width: 24rem;
    }
    .checkout-input-lg:hover {
        border-width: 2px;
        border-color: #29b6f6;
    }
    .align-modal-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .modal-btns {
        border-bottom-width: 2px;
        border-color: #29b6f6;
    }
    .modal-btns:hover {
        color: #29b6f6; 
    }
    .navbar {
        background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
      }
    .fa-firstdraft {
        margin-left: 0.5rem;
        font-size: 1.6rem;
    }
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        width: 70vw;
        justify-content: end;
        margin-right: 2rem;
    }
    .nav-item {
        display: flex;
        align-items: center;
        height: 80px;
    }
    .nav-link {
        color: black;
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 7rem;
        
    }
    .nav-link:hover{
        color: white;
        border-radius: 4px;
        transition: all 0.2s ease-out;
    }
    .nav-link-lg {
        color: black;
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 7rem;
    }
    .nav-link-lg:hover {
        color: white;
        border-radius: 4px;
        transition: all 0.2s ease-out;
    }
    .fa-bars {
        color: #fff;
    }
    .menu-icon {
        display: none;
    }
}

@media (max-width: 1024px) {
    .product-card {
        width:10rem;
        padding-top: 0.75rem;
        padding-bottom: 2em;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    .product-img {
        width: 10rem;
        height: 10rem;
    }
    .text {
        font-size: .875rem;
    }
    .cart-btn {
        background-color: orange;
        width: 5rem;
        cursor: pointer;
        font-size: .875rem;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: #DEDEDE;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-link-lg {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .login-modal {
        position: absolute;
        margin-top: 10%;
        margin-left: 30%;
        margin-bottom: 10;
        width: 40%;
        height: 60%;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .login-input {
        width: 18rem;
        border-width: 2px;
    }
    .register-modal {
        position: absolute;
        margin-top: 10%;
        margin-left: 25%;
        margin-bottom: 10%;
        width: 50%;
        height: 65%;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .checkout-modal {
        position: absolute;
        margin-top: 6%;
        margin-left: 15%;
        margin-bottom: 5%;
        width: 70%;
        height: 86%;
        overflow-y: scroll;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
}

@media (max-width: 768px) {
    .product-card {
        width:8rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    .product-img {
        width: 8rem;
        height: 10rem;
    }
    .text {
        font-size: .75rem;
    }
    .cart-btn {
        background-color: orange;
        width: 5rem;
        cursor: pointer;
        font-size: .875rem;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .login-modal {
        position: absolute;
        margin-top: 10%;
        margin-left: 25%;
        margin-bottom: 10;
        width: 50%;
        height: 45%;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .login-input {
        width: 12rem;
        border-width: 2px;
    }
    .checkout-modal {
        position: absolute;
        margin-top: 6%;
        margin-left: 5%;
        margin-bottom: 5%;
        width: 90%;
        height: 86%;
        overflow-y: scroll;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
}

@media (max-width: 640px) {
    .product-card {
        width: 8rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    .product-img {
        width: 7rem;
        height: 8rem;
    }
    .text {
        font-size: 0.75rem;
    }
    .cart-btn {
        background-color: orange;
        width: 4rem;
        cursor: pointer;
        font-size: .75rem;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        width: 100%;
        height: 58vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .login-modal {
        position: absolute;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 10;
        width: 80%;
        height: 60%;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .login-input {
        width: 12rem;
        border-width: 2px;
    }
    .register-modal {
        position: absolute;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 10%;
        width: 80%;
        height: 70%;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .align-modal-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0.5rem;
    }
    .checkout-modal {
        position: absolute;
        margin-top: 6%;
        margin-left: 5%;
        margin-bottom: 5%;
        width: 90%;
        height: 86%;
        overflow-y: scroll;
        background: white;
        padding: 2rem;
        border-width: 1.5px;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 4px;
    }
    .checkout-input-lg {
        border-width: 2px;
        margin-bottom: 0.25px;
        width: 14rem;
    }
}


