@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Kdam Thmor Pro;
    }
}

@layer components {
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
    .product-card {
        width: 16rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    .product-img {
        width: 16rem;
        height: 18rem;
    }
    .text {
        font-size: 1.125rem;
    }
    .cart-btn {
        background-color: orange;
        width: 6rem;
        cursor: pointer;
        font-size: 1.125rem;
    }
    .cart-btn:hover {
        color: white;
    }
    .card-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5rem;
    }
    .hamburger {
        display: none;
    }
    .link-btn {
        width: 7rem;
        border-right-width: 1px;
        border-left-width: 1px;
    }
    .link-btn:hover{
        color: white;
    }    
    .link-btn-lg {
        width: max-content;
        padding-right: 1.25rem;
        padding-left: 1.75rem;
        border-right: 1px;
        border-left: 1px;
    }
    .link-btn-lg:hover {
        color: white;
    }
    .center {
        display: flex;
        justify-content: center;
    }
    .modal-title {
        font-size: 1.5rem;
        color: orange;
    }
    .login-input {
        width: 18rem;
        border-width: 2px;
    }
    .login-input:hover {
        border-width: 2px;
        border-color: #29b6f6;
    }
    .checkout-label {
        width: 18rem;
    }
    .checkout-input {
        border-width: 2px;
        margin-bottom: 0.25rem;
        width: 10rem;
    }
    .checkout-input:hover {
        border-width: 2px;
        border-color: #29b6f6;
    }
    .checkout-input-lg {
        border-width: 2px;
        margin-bottom: 0.25px;
        width: 24rem;
    }
    .checkout-input-lg:hover {
        border-width: 2px;
        border-color: #29b6f6;
    }
    .align-modal-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .modal-btns {
        border-bottom-width: 2px;
        border-color: #29b6f6;
    }
    .modal-btns:hover {
        color: #29b6f6; 
    }
}

@media (max-width: 1024px) {
    .product-card {
        width:10rem;
        padding-top: 0.75rem;
        padding-bottom: 2em;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    .product-img {
        width: 10rem;
        height: 10rem;
    }
    .text {
        font-size: .875rem;
    }
    .cart-btn {
        background-color: orange;
        width: 5rem;
        cursor: pointer;
        font-size: .875rem;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {
    .product-card {
        width:8rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    .product-img {
        width: 8rem;
        height: 10rem;
    }
    .text {
        font-size: .75rem;
    }
    .cart-btn {
        background-color: orange;
        width: 5rem;
        cursor: pointer;
        font-size: .875rem;
    }
    .navigation {
        display: none;
    }
    .hamburger {
        display: flex;
        width: 50px;
    }
}

@media (max-width: 640px) {
    .product-card {
        width: 8rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    .product-img {
        width: 7rem;
        height: 8rem;
    }
    .text {
        font-size: 0.75rem;
    }
    .cart-btn {
        background-color: orange;
        width: 4rem;
        cursor: pointer;
        font-size: .75rem;
    }
    .navigation {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}


